---
layout: blog
title: Blog
permalink: /blog/
---
<div class="blog">


{% for post in site.posts %}
<div class="postCard">
  <div class="postHeader">
    <div class="left">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p><i>{{ post.author }}</i></p>
    </div>
    <div class="right">
      <p class="postDate">{{ post.date | date_to_string }}</p>
      <p class="postCategory">{{ post.categories }}</p>
    </div>
  </div>
  <div class="postBody">
    {% if post.image %}
    <div class="blogImg">
      <img src="{{site.baseurl}}/assets/img/posts/{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    <p>{{ post.content | truncate: 350 }}</p>
  </div>
</div>
{% endfor %}

</div>