<header>
  <div class="brand">
    <a href="/">
      <img src="../assets/img/logo.svg" alt="">
    </a>

  </div>

  <div id="main-nav">
    <div class="hamburger hidden"></div>
    <nav>
      <ul>
        <a href="/">
          <li id="homeBtn" {% if page.url=="/" %} class="active" {% endif %}>Home</li>
        </a>
        <a href="/about/">
          <li id="aboutBtn" {% if page.url=="/about/" %} class="active" {% endif %}>About</li>
        </a>
        <a href="/blog/">
        <li id="blogBtn" {% if page.layout=="post" %} class="active" {% endif %} {% if page.url=="/blog/" %} class="active"
          {% endif %}>Blog</li>
        </a>
      </ul>

    </nav>
  </div>

</header>
