<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.image %}
<meta content="{{site.baseurl}}/assets/img/{{ page.image }}" property="og:image">
{% else %}
<meta content="{{site.baseurl}}/assets/img/logo.svg" property="og:image">
{% endif %}

{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}