.button {
  cursor: pointer;
  max-width: 150px;
  text-align: center;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 0.7px;
  padding: 10px 20px;
  margin: 1rem 0;
  border: 3px solid $dark;
  border-radius: 25px;
  transition-property: color, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;

  &.sm {
    min-width: 100px;
    padding: 7.5px 5px;
    font-size: 0.8rem;
  }

  &:hover {
    color: $white;
    background-color: $dark;
  }

  // GREEN
  &.green {
    border: 3px solid $green;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }

  // LIGHT
  &.light {
    border: 3px solid $light;

    &:hover {
      color: $dark;
      background-color: $light;
    }
  }

  // BLUE
  &.blue {
    border: 3px solid $blue;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  // RED
  &.red {
    border: 3px solid $red;

    &:hover {
      color: $white;
      background-color: $red;
    }
  }

}

.hamburger {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 1.5rem;
  .line {
    width: 25px;
    height: 3px;
    background-color: $white;
    color: $white;
    margin-top: 5px;
  }
  transition: .8s linear;
  transition-delay: 0;
  &.slide {
    right: 200px;
    transition-delay: .2s;
  } 
}