---
layout: wrapper
comments: true
---

<a href="/blog/" class="back"><i class="fas fa-chevron-left"></i></a>


<div class="post">
  <div class="postHeader">
    <div class="left">
      <h2>{{ page.title }}</h2>
      <p><i>{{ page.author }}</i></p>
    </div>
    <div class="right">
      {{ page.date | date_to_string }}
    </div>
  </div>
  <div class="postBody">
    <p>{{ page.content }}</p>
  </div>
</div>

<div class="comments">
  <div class="commentHeader">
    <h3>Comments</h3>
  </div>
  <div class="commentsBody">
    {% include disqus.html %}
  </div>
</div>